.list-item {
    cursor: pointer;
}

.list-item::before { 
    content: "-";
}

.flex-container {
    display: flex; /* or inline-flex */
}
.list-container {
    flex-grow: 5;
}
.clickable {
    cursor:pointer;
}